{% extends 'base.html' %}

{% block title %}Unauthorized Access{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock %}

{% block content %}
<div class="home-wrapper">
  <div class="welcome-container">
    <h1 class="error-heading">Oops!</h1>
    <p>It seems like you're not allowed to be here...</p>
    <p class="emote">:(</p>
    <div class="error-code">(401 unauthorized)</div>
    <a class="home-link" href="/">Take me back home</a>
  </div>
</div>
{% endblock %}