{% extends 'base.html' %}

{% block title %}Internal Server Error{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock %}

{% block content %}
<div class="home-wrapper">
  <div class="welcome-container">
    <h1 class="error-heading">Sorry!</h1>
    <p>Your request seemed to have caused an internal server error.</p>
    <p>This most likely means we couldn't find the thing you were looking for.</p>
    <div class="error-code">(500 Internal Server Error)</div>
    <a class="home-link" href="/">Take me back home</a>
  </div>
</div>
{% endblock %}