{% extends 'base.html' %}

{% block title %}GitFood Error{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock %}

{% block content %}
<div class="home-wrapper">
  <div class="welcome-container">
    <h1 class="error-heading">Something went wrong!</h1>
    <p>We've ecountered an error on our end.</p>
    <p>Please try again later!</p>
    <div class="error-code">{{ message }}</div>
    <a class="home-link" href="/">Take me back home</a>
  </div>
</div>
{% endblock %}