@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

/* Reset some basic elements */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #1c4764;
}

ol,
ul {
  list-style: none;
}

/* Set base font and background properties for the body */
body {
  font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

/* Header and navigation styles */
header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 2em;
  margin: 0 auto;
  /* Center the navigation inside the header */
}

.navbar-nav {
  display: flex;
}

.navbar-brand {
  font-family: "Righteous", sans-serif;
  font-size: 40px;
}

.nav-item {
  padding: 10px 15px;
  margin: 0 10px;
  /* Space out the nav items */
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

.nav-item:hover,
.nav-item:focus {
  color: #0275d8;
  /* Highlight color for hover and focus */
  background-color: #f8f9fa;
  /* Light background on hover for contrast */
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
}

.sidebar {
  flex-basis: 300px;
  /* Sidebar width */
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.avatar {
  width: 100%;
  max-width: 200px;
  /* Adjust avatar size */
  height: auto;
  border-radius: 50%;
  display: block; 
  margin: 0 auto; 
}

.username {
  font-size: 24px; /* Larger font size for the username */
  margin-top: 0.5rem; /* Spacing between the image and the username */
  color: #333;
  font-weight: bold; /* Makes the username stand out */
}

/* Styling for the user info section */
.user-info {
  font-weight: bold;
  font-size: 24px;
  text-align: center; /* Center the about me content */
  padding: 1rem;
}

.content {
  flex-grow: 1;
  background-color: #fff;
  padding: 1rem;
  padding-top: 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 900px; /* Adjust this based on your layout */
  margin: auto;
}

.my-recipe {
  margin-bottom: 1%;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.recipe-btn {
  width: 100px;
  margin-bottom: 1rem;
  text-align: center;
  padding: 10px 20px; /* Add padding to make the button larger */
  background-color: #213442; /* Use a nice color for the button */
  color: white; /* Contrast the text color against the button color */
  border: none; /* Remove the border */
  border-radius: 5px; /* Add rounded corners */
  font-weight: bold; /* Make the text bold */
  text-decoration: none; /* Remove the underline */
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.recipe-btn:hover {
  background-color: #256692; /* Slightly darker shade on hover for interaction feedback */
}

.recipes-list {
  display: grid;
  gap: 1rem;
  justify-content: center;
}

.profile-container {
  display: flex;
  width: 100%;
  max-width: 960px;
  /* Adjust this based on your layout */
  margin: 0 auto;
  /* Center the container */
  padding: 1rem;
  box-sizing: border-box;
  /* Include padding and border in the element"s total width and height */
  padding-top: 7%;
}

#login-button {
  display: inline-block;
  padding: 0
}