.error-code {
  color: darkgray;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}

.emote {
  font-size: 20px;
  font-weight: bold;
  font-stretch: expanded;
}

.home-link,
.home-link:visited {
  color: darkblue;
}

.home-link:hover {
  color: blue;
}