@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.error-code {
  color: darkgray;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}

.error-heading {
  font-size: 48px;
  font-weight: bold;
}

.emote {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: expanded;
}

.home-link,
.home-link:visited {
  color: darkblue;
}

.home-link:hover {
  color: blue;
}