.profile-container {
    width: 100%;
    max-width: 800px; /* Maximum width of the container */;
    margin: 30px auto; /* Top and bottom margin with auto sides for centering */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    background-color: #ffffff; /* White background for the content */
    padding: 40px; /* Padding around the content */
    border-radius: 10px; /* Rounded corners */
}

.recipe-content {
    width: calc(100% - 40px); /* Adjust width to take into account padding */
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    margin: auto; /* Centering the recipe content */
    box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* Subtle shadow */
    padding: 20px; /* Consistent padding */
    box-sizing: border-box; /* Includes padding in the width */
}

.recipe-title {
    font-size: 30px; 
    color: #213442; 
    font-weight: bold;
    margin-bottom: 10px; 
}

.recipe-description,
.recipe-update-info {
    font-size: 16px; 
    color: #666; 
    margin-bottom: 20px; 
}
.ingredients-label {
    font-size: 20px; 
    color: #213442; 
    font-weight: bold;
}

.ingredients-list {
    list-style: disc; /* Add bullet points */
    padding-left: 20px; 
    margin-bottom: 20px; 
}

.ingredients-list li {
    background-color: transparent; /* Remove the gray background */
    padding: 2px 0; /* Adjust padding as needed */
    margin-bottom: 5px; 
    margin-bottom: 5px; 
    border-radius: 5px; 
}

.instructions-label {
    font-size: 20px; 
    color: #213442; 
    font-weight: bold;
}

.recipe-instructions {
    background-color: #e7e7e7; 
    padding: 10px; 
    border-radius: 5px; 
    margin-bottom: 20px; 
}

.recipe-badge {
    display: inline-block; 
    background-color: #3498db; 
    color: white; 
    padding: 5px 10px; 
    margin-right: 10px; 
    border-radius: 5px; 
    margin-bottom: 20px; 
}

.recipe-update-info span {
    font-style: italic; 
}

.back-to-profile-btn {
    width: 140px;
    text-align: center;
    padding: 10px 20px;
    background-color: #213442;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.back-to-profile-btn:hover {
    background-color: #256692;
}

