<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GitFood</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base_anon.css') }}">
</head>

<body>
  <header>
    <nav class="navbar">
      <a href="/" class="navbar-brand"><img src="/static/gitfood-logo.png" alt="GitFood Logo" id="logo"></a>
      <div class="navbar-nav">
        <a href="/profile" class="nav-item">Profile</a>
        <a href="/logout" class="nav-item">Log Out</a>
      </div>
    </nav>
  </header>

  <main>
    {% block content %}
    <!-- This block will be overridden by child templates -->
    {% endblock %}
  </main>

  <footer>
    <!-- Footer content goes here -->
  </footer>
</body>

</html>