{% extends 'base.html' %}

{% block title %}Create a Recipe{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_recipe.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
<script src="{{ url_for('static', filename='script/ingredient.js') }}"></script>
<script src="{{ url_for('static', filename='script/modal.js') }}"></script>
{% endblock %}

{% block content %}
<div class="profile-container">
  <div class="content">
    <div class="recipes-header">
      <h1 class="my-recipe">Create a Recipe</h1>
    </div>

    <form action="/u/{{ current_user.username }}/submit-recipe" method="post" class="recipe-form">
      <div class="form-group">
        <label for="title">Recipe Name:</label>
        <input type="text" id="recipe-name" name="recipe-name" class="form-control" required>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" class="form-control" maxlength="120">
      </div>
      <div class="form-group checkbox-group">
        <div>
          <label for="gluten_free" class="checkbox-label">Gluten Free</label>
          <input type="checkbox" id="gluten-free" name="gluten-free" class="check form-control" value="True">
        </div>
        <div>
          <label for="vegan" class="checkbox-label">Vegan</label>
          <input type="checkbox" id="vegan" name="vegan" class=" check form-control" value="True">
        </div>
        <div>
          <label for="private" class="checkbox-label">Private</label>
          <input type="checkbox" id="is-private" name="is-private" class="check form-control" value="True">
        </div>
      </div>

      <h2 class="ingredients-title">Ingredients</h2>
      <div id="ingredients" class="form-group ingredients-list">
        <!-- Ingredient inputs will go here -->
      </div>
      <button type="button" class="add-ingredient-btn" style="margin: 5px 15px 25px;" onclick="addIngredient()">Add
        Ingredient</button>
      <div class="form-group">
        <label for="instructions">Instructions</label>
        <textarea id="instructions" name="instructions" class="form-control" rows="4" required></textarea>
      </div>
      <div class="bottom-btns">
        <div class="bottom-left-btns">
          <input type="submit" class="recipe-submit" value="Create Recipe" onclick="countIngredients()">
          <button type="button" id="add-collaborator-button" class="add-collaborator-button">Add Collaborator</button>
        </div>
        <button type="button" class="cancel-btn" onclick="location.href ='/u/{{ current_user.username }}';">
          Cancel 
        </button>
      </div>
    </form>
  </div>
</div>

<div id="collaboratorModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Invite Collaborator</h2>
    <div class="modal-search-container">
      <input type="text" id="collaboratorUsername" placeholder="Enter username" />
      <button type="button" id="searchCollaborator">Search</button>
    </div>
    <p class="disclaimer">Note: Max 1 collaborator</p>
  </div>
</div>
{% endblock %}