{% extends 'base.html' %}

{% block title %}Recipe Details{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <!-- Recipe Content -->
    <div class="recipe-content">
        <h1 class="recipe-title">{{ recipe.title }}</h1>
        <p class="recipe-description">{{ recipe.description }}</p>
        <div class="recipe-details">
            {% if recipe.gf %}
                <span class="recipe-badge">Gluten Free</span>
            {% endif %}
            {% if recipe.vegan %}
                <span class="recipe-badge">Vegan</span>
            {% endif %}
        </div>
        <h2>Ingredients</h2>
        <ul class="ingredients-list">
            {% for ingredient in recipe.ingredients %}
                <li>{{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.name }}</li>
            {% endfor %}
        </ul>
        <h2>Instructions</h2>
        <p>{{ recipe.instructions }}</p>
        <div class="recipe-update-info">
            <span>Created on: {{ recipe.created_at.strftime('%Y-%m-%d') }}</span>
        </div>
    </div>
</div>
{% endblock %}
