{% extends 'base.html' %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
<script src="{{ url_for('static', filename='script/restore.js') }}"></script>
{% endblock %}

{% block content %}
<div class="profile-container">
  <!-- Recipe Content -->
  <div class="recipe-content">
    <div class="recipe-top-own">
      <h1 class="recipe-title">{{ recipe.title }}</h1>
      {% if not recipe.is_head and recipe.author_id == current_user.id %}
      <button class="edit-btn"
        onclick="confirmRestoreVersion('{{ current_user.username }}', '{{ recipe.id }}')">Restore</button>
      {% endif %}
      {% if recipe.is_head %}
      <div class="top-btns">
        <script>
          function redirectToVersions() {
            window.location.href = '/u/{{ current_user.username }}/{{ recipe.id }}/versions';
          }
        </script>
        {% if recipe.version != 1 and recipe.author_id == current_user.id %}
        <button class="prev-version-button" onclick="redirectToVersions()">Previous Versions</button>
        {% endif %}
        <button class="edit-btn"
          onclick="location.href ='/u/{{ current_user.username }}/{{ recipe.id }}/edit';">Edit</button>
      </div>
      {% endif %}
    </div>
    <h2 class="section-label">Description</h2>
    <p class="recipe-description">{{ recipe.description }}</p>
    <div class="recipe-details">
      {% if recipe.gf %}
      <span class="recipe-badge">Gluten Free</span>
      {% endif %}
      {% if recipe.vegan %}
      <span class="recipe-badge">Vegan</span>
      {% endif %}
    </div>
    <h2 class="section-label">Ingredients</h2>
    <ul class="ingredients-list" id="ingredients-list">
      {% for ingredient in recipe.ingredients %}
      <li>{{ ingredient.name }}, {{ ingredient.quantity }} {{ ingredient.unit }}</li>
      {% endfor %}
    </ul>
    <h2 class="section-label">Instructions</h2>
    <p>{{ recipe.instructions }}</p>
    <div class="recipe-update-info">
      <span>Created on: {{ recipe.created_at.strftime('%Y-%m-%d') }}</span>
      <div class="version-lable">
        <span>Version: {{ recipe.version }}</span>
      </div>
    </div>
    <div class="bottom-btns">
      <button class="back-to-profile-btn" onclick="location.href ='/u/{{ current_user.username }}';">Back to
        Profile</button>
      {% if recipe.is_head == false %}
      <button class="back-to-profile-btn"
        onclick="location.href ='/u/{{ current_user.username }}/{{ recipe.id }}/versions';">Back to Versions</button>
      {% endif %}
      {% if recipe.is_head and recipe.author_id == current_user.id %}
      <button type="button" class="collaborator-button" id="collaborator-button">
        {% if recipe.collab_id != None %}
        Edit Collaborator
        {% else %}
        Add Collaborator
        {% endif %}
      </button>
      {% endif %}
    </div>
  </div>

  <div id="collaboratorModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Invite Collaborator</h2>
      <div class="modal-search-container">
        <form action="/u/{{ current_user.username }}/{{ recipe.id }}/add-collaborator" method="post" class="recipe-form"
          onsubmit="return confirmCollab()">
          <input type="text" id="collaborator-username" name="collaborator-username" default=""
            placeholder="Enter collaborator" />
          <input type="submit" class="recipe-submit" id="input-collaborator" value="Submit">
        </form>
      </div>
      <p class="disclaimer">
        {% if recipe.collab_id %}
        Submitting a new collaborator will replace the old one.
        Submitting an empty username will remove the current collaborator.
        {% else %}
        Note: Max 1 collaborator
        {% endif %}
      </p>
    </div>
  </div>

  <script src="{{ url_for('static', filename='script/modal.js') }}"></script>
  {% endblock %}