{% extends 'base.html' %}

{% block content %}
<div class="profile-container">
  <aside class="sidebar">
    <img src="{{ pic_url }}" alt="User's Avatar" class="avatar">
    <div class="username-container">
      <h1 class="username">{{ name }}</h1>
      <img src="app/static/edit_pencil.png" alt="Edit" class="edit-icon" onclick="editUsername()">
    </div>
  </aside>

  <section class="content">
    <div class="user-info">
      <h2>About Me</h2>
      <img src="app/static/edit_pencil.png" alt="Edit" class="edit-icon" onclick="editAboutMe()">
    </div>

    {% if about_me == "" %}
    <div class="empty-about">
      <p>I am a mystery...</p>
    </div>
    {% else %}
    <div class="user-about">
      <p>{{ about_me }}</p>
    </div>
    {% endif %}
  </section>
</div>

<div class="recipes-header">
  <div class="my-recipe">
    <h1>My Recipes</h1>
  </div>
  <div class="recipe-btn">
    <button="btn">New Recipe</button>
  </div>
</div>

<section class="recipes-list">
  {% for recipe in user_recipes %}
  <div class="recipe">
    <h2><a href="{{ url_for('recipe', recipe_id=recipe.id) }}">{{ recipe.title }}</a></h2>
    <p>{{ recipe.summary }}</p>
    <span class="update-info">Updated on {{ recipe.updated_at }}</span>
  </div>
  {% else %}
  <p class="no-recipes">No current recipes.</p>
  {% endfor %}
</section>
{% endblock %}