{% extends 'base.html' %}

{% block title %}
{{ other.username }}'s Profile
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block content %}
<div class="profile-container">
  <aside class="sidebar">
    <img src="{{ other.picture }}" alt="User's Avatar" class="avatar">
    <div class="username-container">
      <h1 class="user-text" id="display-name">{{ other.name }}</h1>
    </div>
  </aside>

  <section class="content">
    <div class="user-info">
      <h2>About {{ other.name }}</h2>
    </div>

    <div class="about-me" id="about-me">
      <div id="about-me-text">
        {% if other.about_me == "" %}
        No bio yet!
        {% else %}
        {{ other.about_me }}
        {% endif %}
      </div>
    </div>
  </section>
</div>

<div class="recipes-header">
  <div class="my-recipe">
    <h1>{{ other.name }}'s Public Recipes</h1>
  </div>
</div>

<section class="recipes-list" id="recipes-list">
  {% for recipe in other.recipes %}
  {% if not recipe.private: %}
  <div class="recipe" onclick="location.href ='/u/{{ other.username }}/{{ recipe.id }}';">
    <h2>{{ recipe.title }}</h2>
    <p>{{ recipe.description or 'No description provided.' }}</p>
  </div>
  {% endif %}
  {% else %}
  <p class="no-recipes">No current recipes.</p>
  {% endfor %}
</section>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='script/user.js') }}"></script>
{% endblock %}